extends layout

block content
  .container-fluid
    h1 Welcome to the Node Chatroom
    button#switch_chat-btn.btn.btn-primary Private Chat

  .unameWrap
    p
      h3 Enter Your Username
    p(id="error")
    input(type="text" id="uname_box" class="input-lg" placeholder="Write a User name here...")
    button#create_user.btn.btn-primary.btn-lg Chat    

  .msgWrap
    .container-fluid        
        
        ol(id='messages')

        .push
    .footer
      .container-fluid
        .row
          .col-xs-8.col-sm-9
            input(type="text" id="message-box" class="form-control input-lg" placeholder="Write a message here..." rows="3")
          .col-xs-4.col-sm-3
            button#send-message-btn.btn.btn-primary.btn-lg.btn-block Send

block body_end
  script(type='text/javascript' src='/js/index.js')